@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
    /* overflow: hidden; */
}
body {
    height:auto;
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    background-color: #55b4e3;
}
.material-icons {
    cursor: pointer;
    padding: 0.2rem;
}
.completed {
    color: black;
    text-decoration: line-through;
    opacity: 0.5;
}
h1{
    text-decoration:underline;
}
.container {
    height: auto;
    width: auto;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.item-btn span {
    padding-right: 2rem;
}
.item-btn button {
   margin-right: 0.7rem;
}

.container,
button{
    font-family: Silkscreen;
    border-radius: 0px;
    background: #357a9c;
box-shadow:  -8px 8px 9px #15313e,
             8px -8px 9px #55c3fa;
}
.container button:after{
    box-shadow: none;
    background: #357a9c;
}
.headder {
    margin-top: 2rem;
    padding: 2px;
}
.headder button {
    font-size: 1.5rem;
    font-weight: 700;
}

input {
    font-size: 2rem;
    background: #357a9c;;
    box-shadow: inset -5px 5px 10px #15313e,
            inset 5px -5px 10px #55c3fa;
}

.todo-list {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0px;
    margin-top: 2rem;
}

.todo-list button {
    border: none;
    outline: none;
    background-color: inherit;
}

.item-btn {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    width: inherit;
    background: #357a9c;
    box-shadow:  -5px 5px 10px #15313e,
             5px -5px 10px #55c3fa;
}
.item-btn button{
    border-radius: 9px;
background: linear-gradient(225deg, #3983a7, #306e8c);
box-shadow:  -6px 6px 12px #15313e,
             6px -6px 12px #55c3fa;

}
.headder input::placeholder{
    font-size:20px;
    color: rgb(12, 17, 17);
    font-family: silkscreen;
}
@media screen and (max-width:600px){
    .container{
        margin-top:10px;
        width: 330px;
    }
    .headder{
        display: flex;
        flex-direction: column;
    }
    .headder button{
        width: fit-content;
        justify-content: center;
        margin:auto;
        margin-top: 1rem;
    }
    input{
        width: 15rem;
    }
}

